/*OVERALL STYLING*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #f4f4f4;
    
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
/* NAVIGATION BAR */
.navbar {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f505f;
    padding: 10px 20px;
}
/* NAVIGATION ICONS */
.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

/*LEFT NAVIGATIONS*/
.nav-left {
    display: flex;
    gap: 15px;
}
/*NAVIGATION ICONS*/
.nav-icon img{
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(1); 
}
/*HOVER IN NAVIGATION*/
.nav-icon:hover{
    background-color: #d1d1d1; 
}
.nav-icon > img:hover {
    filter: brightness(0); /* Turns the icon dark */
}
/*LOGO NAVIGATION*/
.logo {
    font-size: 18px;
    color: white;
    margin-top: 18px;
}
/*PROFILE RIGHT NAVIGATION*/
.profile-icon img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
/*NOTIFICATION ICON*/
.notification-icon {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
/*NOTIFICATION BADGE (3)*/
.badge {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(72, 151, 72);
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
}
/*NOTIFICATION DROPDOWN*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    left: 0;
    top: 40px;
    min-width: 260px;
    padding: 10px;
    border-radius: 5px;
}
.dropdown-content p {
    padding: 8px;
    font-size: 15px;
}
.dropdown-content a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    transition: background 0.3s;
}
.dropdown-content a:hover {
    background: #d1d1d1;
}
.dropdown:hover .dropdown-content {
    display: block;
}



/*BODY (MAIN LAYOUT)*/
.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 100px;
}
/*LEFT SIDE OVERALL CONTAINER*/
.left-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 320px;
}
/*MY PROFILE CONTAINER*/
.profile-card {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
/*PROFILE IMAGE*/
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 0;
    align-self: center;
}
/*PROFILE OVERALL INFORMATION*/
.profile-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}
/*EACH INFORMATION*/
.info-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #333;
}
/*ICONS IN EACH INFORMATION*/
.icon,
.menu img {
    width: 16px;
    height: 16px;
    opacity: 0.7;
}
/*MENU DIV*/
.menu {
    background-color: #5f778d;
    padding: 15px 5px;
    margin-top: 20px;
    width: 350px;
    height: 140px;
}
.menu a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 14px;
    text-decoration: none;
}
.menu a:hover {
    background-color: #c1c6ca;
}
/*INTERESTS OVERALL CONTAINER*/
.interests-container{
    background: white;
    padding: 15px;
    border-radius: 5px;
    width: 350px;
    height: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.interests-container p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}
.interests-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.tag {
    padding: 5px 10px;
    border-radius: NONE;
    font-size: 11px;
    display: inline-block;
}
.dark {
    background: #4d687d;
    color: white;
}

.light {
    background: #bfc9d2;
    color: #333;
}
.extra-light {
    background: #e8ecef;
    color: #333;
}
/*HEY BOX!*/
.box {
    background: #d8e1e7; /* Light grayish-blue background */
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    position: relative;
    border: 1px solid #c0c9cf;
}
.box strong {
    font-weight: bold;
}
.box-text{
    flex: 1;
    text-align: left;
}

.box p {
    margin: 0;
    flex: 1;
    padding-left: 5px;
}

/* Close Button */
.close-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: black;
    position: absolute;
    top: 8px;
    right: 10px;
    padding: 5px;
    border-radius: NONE;
}
.close-btn:hover {
    background-color: #c0c9cf;
}



/*MIDDLE PART*/
/*MAIN FEED*/
.main-content {
    width: 55%;
    max-width: 900px;
}
/*STATUS DIV*/
.status-box {
    display: inline-block;
    background: white;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: 14px;
    margin-bottom: 15px;

}
.status-box p{
    margin-bottom: 10px;
    font-size: 15px;
    color: #757575;
}
.status-box input {
    width: 100%;
    flex-grow: 1;
    border:  1px solid #ccc;
    outline: none;
    font-size: 14px;
    color: #000000;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-block;
}
.status-box input:focus {
    border: 2px solid black;
    outline: none; 
}
/*POSTS*/
.post {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
}
.nature{
    margin-bottom: 15px;
    margin-top: 10px;
}
.post-header {
    display: flex;
    align-items: center;
}
.post-header img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.post-images{
    display: block;
}
.post p{
    text-justify: auto;
    line-height: 1.8;
}
.post-action{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.post-action > button{
    width: 100px;
    height: 35px;
    display: flex;
    gap: 10px;
    background-color: #3f505f;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*POSTED PICS OF JOHN DOE*/
.post-images img {
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
    height: auto;
}

.post-action img{
    width: 16px;
    height: 16px;
    opacity: 0.7;
}

.post-button img,
.like img,
.comment img{
    width: 16px;
    height: 16px;
    filter: brightness(0) invert(1);
}

.post-button,
.like,
.comment{
    background: #3f505f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  
}

.post-button:hover{
    background-color: #d1d1d1;
    color: black;
    border-radius: 5px;
}

.post-button > img:hover,
.like > img:hover,
.comment > img:hover {
    filter: brightness(0);
}

.post-action .like:hover, 
.post-action .comment:hover {
    background-color: #d1d1d1;
    color: black;
    border: none;
    cursor: pointer;
}




/*RIGHT SIDE CONTENT*/
.right-sidebar {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*EVENT DIV*/
.event-card {
    background: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}
/*TITLE*/
.event-card h4 {
    font-size: 15px;
    color: #333;
    
}
/*IMAGE IN THE EVENT DIV*/
.event-card img {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}
/*UPCOMING EVENTS*/
.event-heading{
    margin-top: 10px;
}
/*HOLIDAY*/
.event-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px; /* Increase space below "Holiday" */
}
.event-time {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}
/*INFO BUTTON*/
.info-btn {
    background: #c0c7cc;
    border: none;
    padding: 8px;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.info-btn:hover {
    background: #a9b0b5;
}


/*FRIEND REQUEST DIV*/
.request-card{
    background: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}
.heading{
    margin-top: 10px;
}
.frequest-profile{
    align-self: center;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
/*BUTTONS*/
.friend-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.accept-btn, .decline-btn {
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}
.accept-btn {
    background: #a4d4a5;
    color: white;
}
.decline-btn {
    background: #e38e8e;
    color: white;
}
.accept-btn:hover {
    background: #8ec891;
}
.decline-btn:hover {
    background: #d47777;
}


/*ADS*/
.word-card{
    background: white;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    height: 70px;
}
.ads-card{
    background: white;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 120px;

}
/*BUG (ADVERTISEMENT*/
.ads-card img[alt="Bug"] {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
}
footer{
    color: white;
}
footer > .footer{
    background-color: #3f505f;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}
.footer-2 > a{
    color: inherit;
}
footer > .footer-2{
    background-color: #38434d;
    width: 100%;
    height: 50px;
    display: flex;
    color: white;
    align-items: center;
    font-size: 15px;
}
.w3-css{
    color: white;
    margin-left: 10px;
}
